FOLDERS    RCDATA DISCARDABLE "folders.xml"
FILES      RCDATA DISCARDABLE "files.xml" 
SKINS      RCDATA DISCARDABLE "skins.bin"
SKINSINI   RCDATA DISCARDABLE "ASkin.ini"
CONSUMERAI RCDATA DISCARDABLE "ConsumerAI.exe"
TEXTURE    RCDATA DISCARDABLE "texture.bmp"
LOGO       RCDATA DISCARDABLE "logo.bmp"

